<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photolog</title>
    <!--<link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">-->
    <link rel="stylesheet" href="../static/styles/main.css">
    <style type="text/css" media="only screen and (-webkit-min-device-pixel-ratio: 2)"></style>
</head>
<body>

    {% for p in photos %}
    <div class="container">
        <div class="photo blur-1x">
            <img src="{{p.original_url}}">
        </div>
        {% if p.overlay != None %}
        <div class="overlay" style="color: {{p.description['color']}}; font-size: {{p.description['size']}}px; left: {{p.description['left']}}; top: {{p.description['top']}};">
            {{p.description['overlay']}}
        </div>
        {% endif %}
    </div>

    {% if p.content != None %}
    <div class="content">
        <p>
            {{p.content}}
        </p>
    </div>
    {% endif %}
    {% endfor %}
</body>
</html>