<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Install - Photolog</title>
</head>
<body>
    <form action="oauth/access" method="post">
        <p>
            key: <input type="text" name="key" value="">
        </p>
        <p>
            secret: <input type="text" name="secret" value="">
        </p>
        <p>
            callback_url: <input type="text" name="callback_url" value="">
        </p>

        <button type="submit">submit</button>
    </form>
</body>
</html>